.holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 150px;
    height: 150px;
    font-size: 60px;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
}

/* Colors */
.red {
    background-color: red;
    order: 2;
}

.blue {
    background-color: blue;
    order: 3;
}

.green {
    background-color: green;
    order: 1;
}
